# too big qwq
*.mp4
*.zip

# tmp git diff and log
/tmp_diff.diff
tmp_log.txt

# 忽略所有名为 media 的文件夹
media/

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Python version
.python-version

# Virtual environments
myenv*/  
venv*/
env*/
_myenv*/
_venv*/

# IDE and editor folders
.vscode/
.idea/
.cph/

# macOS and Windows system files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Database files
*.db
*.sqlite

# Test coverage reports
.coverage

# Backup and temporary files
*.bak
*.tmp
